<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="GateEntry" connectionString="Data Source=VIKIPC;Initial Catalog=RRUHF;User ID=sa;Password=ltts@123;Integrated Security=True;" providerName="System.Data.sqlclient"/>-->
		<add name="GateEntry" connectionString="Data Source=DESKTOP-5TCKFBO;Initial Catalog=RRUHF;User ID=maingate;Password=main@123;integrated security=True;" providerName="System.Data.sqlclient"/>
	</connectionStrings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
</startup>
	<appSettings>
		<add key="AppName" value="RRUHF Reader"/>
		<add key="AppCreatedBy" value="CS Sem 5 KLE Tech 2021"/>
	</appSettings>

</configuration>
